/* PHASE 1: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  // margin:
  // padding:
  // border:
  // outline:
  // font:
  // color:
  // text-align:
  // text-decoration:
  // vertical-align:
  // box-sizing:
  // background:
  text-decoration:none;
  color:inherit;
  
}

ol, ul {
  // list-style:
  list-style-type: none;
}

img {
  // display:
  // width:
  // height:
  display: block;
  width: inherit;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}

button,
input[type="submit"] {
  // cursor:
  cursor: pointer;
}

/* Clearfix */

.group:after {
  // ...
  content: "";
  clear: both;
  display: table;
}
ul {
  margin-left: 0px;
  /* set to 0 if your not using a list-style-type */
  padding-left: 0px;
}

